<a href="https://colab.research.google.com/github/USIS002320/Programacion-III/blob/Fundamento_Python/Untitled3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
print("Hola Mundo", "Bienvenidos a Progra III con Python", "Hola Chicos, que tal...")

Hola Mundo Bienvenidos a Progra III con Python Hola Chicos, que tal...

In [2]:
saludo ="hola"
print(saludo + "Mundo")
print(saludo[1])

holaMundo
o

In [3]:
nombre = input("Como te llamas: ")
print ("Hola"+nombre, "Tu letra inicial es:", nombre[0], "Tu nombre tiene: ", nombre.__len__(), " caracteres")

Como te llamas: Billy
HolaBilly Tu letra inicial es: B Tu nombre tiene:  5  caracteres

In [5]:
num1 = 11
num2 = 2.2
resp = num1 + num2
print("La suma es: ", resp)

La suma es:  13.2

In [6]:
num1 = input("Num1: ")
num2 = input("Num2: ")
resp = float(num2) #"5.5"-> 5.5
print("La suma es: ", resp)

Num1: 11
Num2: 2.2
La suma es:  2.2

In [7]:
print(nombre)

Billy

In [8]:
gustapython = True
print("hola", nombre, "te gusta python", gustapython)

hola Billy te gusta python True

In [11]:
def suma(num1, num2):
 resp = num1 + num2
 return resp
num1 = float(input("num1: "))
num2 = float(input("num2: "))
resp = suma(7,5)
print(resp)

num1: 7
num2: 5
12

In [14]:
num1 = int(input("Num1: "))
num2 = int(input("Num2: "))
print("Los numeros", str(num1), ",", str(num2), "son iguales: ", str(num1==num2))

Num1: 8
Num2: 8
Los numeros 8 , 8 son iguales:  True

In [16]:
def convertirFC(f):
   c = (f-32)*5/9
   return c 

f = int(input("F: "))
print("F: ", str(f), " a celsius: ", str( convertirFC(f) ))

F: 3
F:  3  a celsius:  -16.11111111111111

In [17]:
numHrs = int(input("Num. de Hrs trabajadas: "))
valorHr = float(input("Valor por hr: "))

sueldo = numHrs*valorHr*30
print("Sueldo: ", sueldo)

Num. de Hrs trabajadas: 8
Valor por hr: 5.4
Sueldo:  1296.0

In [18]:
def calcularSueldo(numHrs, valorHr):
   hrsExtras = 0
   if( numHrs>8 ):
     hrsExtras = numHrs-8
   sueldo = (8*valorHr + hrsExtras*valorHr*2)*30
   return sueldo

numHrs = int(input("Num. hrs trabajadas: "))
valorHr = float(input("Valor x hr: "))
print("Sueldo: ", str(calcularSueldo(numHrs, valorHr)))

Num. hrs trabajadas: 8
Valor x hr: 5.4
Sueldo:  1296.0

In [19]:
prioridad = 7 - 5*2 - 4/4*2 # 5*2= 10  4/4=1   1*2=2  7-10-2= -5
print(str(prioridad))

-5.0

In [20]:
saludo = "hola"
print(saludo + " Mundo")
print( saludo[1] )

hola Mundo
o

In [21]:
suma = lambda num1,num2: num1+num2
num1 = float(input("Num1: "))
num2 = float(input("Num2: "))
print("La suma es: ", suma(num1,num2))

Num1: 8
Num2: 2
La suma es:  10.0

In [22]:
conversion = lambda f:(f-32)*5/9
f = float(input("Fahrenheit: "))
print("Grados F: ", f, " a C: ", conversion(f))

Fahrenheit: 111.5
Grados F:  111.5  a C:  44.166666666666664

In [24]:
cuadrado = lambda n:n**2
n = int(input("N: "))
print("N: ", n, "al cuadrado es: ",cuadrado(n))

N: 5
N:  5 al cuadrado es:  25

In [26]:
cubo = lambda n:n**3
n = int(input("n: "))
print("N: ", n, " al cubo es: ", cubo(n))

n: 5
N:  5  al cubo es:  125

In [27]:
exp = lambda n,e:n**e
n = int(input("N: "))
e = int(input("Exponente: "))
print(n, " elevado al exp: ", e, "es", exp(n,e))

N: 4
Exponente: 4
4  elevado al exp:  4 es 256

In [29]:
lista =[1,2,3,4]
resp = list(map(lambda n:n*2, lista))
print(resp)

[2, 4, 6, 8]

In [31]:
gf_dep = [85,58,105,40]
c_dep = list(map(conversion, gf_dep))
print("los grados F: ", gf_dep, " en celsius es: ", c_dep)

los grados F:  [85, 58, 105, 40]  en celsius es:  [29.444444444444443, 14.444444444444445, 40.55555555555556, 4.444444444444445]

In [32]:
resp = list(map(cuadrado, lista))

print("La lista ",lista, " al cuadrado es: ", resp)

La lista  [1, 2, 3, 4]  al cuadrado es:  [1, 4, 9, 16]